<form
  [formGroup]="consultationForm"
  (ngSubmit)="onSubmit()"
  mat-dialog-content
  [ngClass]="{'loading' : loading}"
>
  <h1>{{ 'consultation_form_dialog.title' | translate }}</h1>
  <div class="input-container">
    <mat-form-field>
      <mat-label>{{
        'consultation_form_dialog.select_type.label' | translate
      }}</mat-label>
      <mat-select
        formControlName="type"
        required
        [disabled]="loading"
      >
        <mat-option *ngFor="let type of consultationType" [value]="type.value">
          {{ type.labelKey | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{
        'consultation_form_dialog.date_picker.label' | translate
      }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="referenceDate"
        required
        [disabled]="loading"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field>
      <mat-label *ngIf="documentLabel === 'CPF'">{{
        'consultation_form_dialog.input_cpf.label' | translate
      }}</mat-label>
      <mat-label *ngIf="documentLabel === 'CNPJ'">{{
        'consultation_form_dialog.input_cnpj.label' | translate
      }}</mat-label>
      <input
        type="text"
        matInput
        formControlName="document"
        [placeholder]="
          'consultation_form_dialog.input_' +
            documentLabel.toLowerCase() +
            '.placeholder' | translate
        "
        required
        [disabled]="loading"
      />
      <mat-hint *ngIf="documentLabel === 'CPF'">{{
        'consultation_form_dialog.input_cpf.hint' | translate
      }}</mat-hint>
      <mat-hint *ngIf="documentLabel === 'CNPJ'">{{
        'consultation_form_dialog.input_cnpj.hint' | translate
      }}</mat-hint>

      <mat-error *ngIf="consultationForm.get('document')?.hasError('required')">
        {{
          documentLabel === 'CPF'
            ? ('consultation_form_dialog.input_cpf.required_error' | translate)
            : ('consultation_form_dialog.input_cnpj.required_error' | translate)
        }}
      </mat-error>
      <mat-error
        *ngIf="consultationForm.get('document')?.hasError('minlength')"
      >
        {{
          documentLabel === 'CPF'
            ? ('consultation_form_dialog.input_cpf.minlength_error' | translate)
            : ('consultation_form_dialog.input_cnpj.minlength_error'
              | translate)
        }}
      </mat-error>
      <mat-error
        *ngIf="consultationForm.get('document')?.hasError('invalidCPF')"
      >
        {{ 'consultation_form_dialog.input_cpf.invalid_error' | translate }}
      </mat-error>
      <mat-error
        *ngIf="consultationForm.get('document')?.hasError('invalidCNPJ')"
      >
        {{ 'consultation_form_dialog.input_cnpj.invalid_error' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{
        'consultation_form_dialog.select_interval.label' | translate
      }}</mat-label>
      <mat-select
        formControlName="interval"
        required
        (selectionChange)="onIntervalChange()"
        [disabled]="loading"
      >
        <mat-option
          *ngFor="let interval of consultationInterval"
          [value]="interval.value"
        >
          {{ interval.labelKey | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="submit-buttons">
    <button
      mat-raised-button
      matDialogClose
      [disabled]="loading"
    >
      {{ 'consultation_form_dialog.actions_buttons.cancel' | translate }}
    </button>
    <button
      mat-raised-button
      type="submit"
      [disabled]="consultationForm.invalid || loading"
    >
      {{ loading ?
        ('consultation_form_dialog.actions_buttons.loading' | translate) :
        ('consultation_form_dialog.actions_buttons.submit' | translate)
      }}
    </button>
  </div>
</form>
