main {
  padding: 20px;

  mat-card {

    mat-card-title {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    mat-card-content {
      scroll-behavior: smooth;

      @media (max-width: 678px) {
        overflow-x: scroll;
      }

      table {
        width: 100%;
        margin-top: 10px;

        tr:hover {
          background: var(--accent-color);
          transition: all 0.4s ease-in-out;
        }

        a {
          cursor: pointer;
        }

        mat-icon:hover {
          transform: scale(1.15);
          transition: all 0.3s ease-in-out;
        }

        @media (max-width: 678px) {
          width: 200vw;
        }
      }

    }

    mat-card-actions {
      display: flex;
      flex-direction: column;

      .new-consult-button-container {
        width: 100%;
        padding-block: 20px;
        display: flex;
        justify-content: end;
      }
    }
  }
}

