.sidebar-container {
  height: 100dvh;

  .sidebar-menu {
    background: var(--primary-color);
    padding: 20px;
    width: 300px;

    @media (max-width: 678px) {
      width: 100%;
    }

    .menu-toogle {
      position: fixed;
      top: 5px;
      right: 25px;
    }

    a {
      height: 46px;
    }

    span {
      font-size: 14px;
      color: var(--secondary-color);
    }
    .mat-icon {
      margin-inline: 10px;
      color: var(--secondary-color);
    }

  }
}
