main {
  padding: 20px;

  @media (max-width: 678px) {
    padding: 0;
  }

  mat-card-title {
    padding: 20px;
  }

  mat-card-content {
    scroll-behavior: smooth;

    @media (max-width: 678px) {
      overflow-x: scroll;
    }
  }

  tr:hover {
    background: var(--accent-color);
    transition: all 0.4s ease-in-out;
  }
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.expanded-row {
  padding: 20px;
}

.extra-info {
  width: fit-content;
  mat-card-header {
    mat-card-title {
      font-size: 16px;
    }
  }
  div {
    font-weight: bold;
    span {
      font-weight: normal;
    }
  }
}
