<main>
  <app-loading-spinner *ngIf="loading" />
  <mat-card *ngIf="!loading">
    <mat-card-title>
      {{ 'pep.title' | translate }}
    </mat-card-title>
    <mat-card-content appAutoScroll>
      <table
        mat-table
        [dataSource]="peps"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of displayedColumns"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ 'pep.peps_table.headers.' + column | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedElement === element"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
              [ngClass]="{ 'expanded-row': element == expandedElement }"
            >
              <mat-card class="extra-info">
                <mat-card-header>
                  <mat-card-title>
                    {{ 'pep.extra_info.title' | translate }}
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div>
                    {{ 'pep.extra_info.department_code' | translate }}
                    <span>
                      {{ element.codOrgao }}
                    </span>
                  </div>
                  <div>
                    {{ 'pep.extra_info.position_acronym' | translate }}
                    <span>
                      {{ element.siglaFuncao }}
                    </span>
                  </div>
                  <div>
                    {{ 'pep.extra_info.position_level' | translate }}
                    <span>
                      {{ element.nivelFuncao }}
                    </span>
                  </div>
                  <div>
                    {{ 'pep.extra_info.end_grace_period' | translate }}
                    <span>
                      {{ element.dtFimCarencia }}
                    </span>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplayWithExpand"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </mat-card-content>
  </mat-card>
</main>
